  body,
  html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    /* max-height: 100%; */
    padding: 0;
    margin: 0;
  }

  a {
    cursor: pointer;
  }

  a:link {
    text-decoration: none;
  }

  /*# bpmn viewer*/

  .success:not(.djs-connection) .djs-visual> :nth-child(1) {
    fill: greenyellow !important;
  }

  .error:not(.djs-connection) .djs-visual> :nth-child(1) {
    fill: #FF0033 !important;
  }

  .history:not(.djs-connection):not(.error) .djs-visual> :nth-child(1) {
    fill: gainsboro !important;
  }

  blockquote {
    padding: 5px 10px;
    margin: 0 0 10px;
    font-size: 14px;
    border-left: 5px solid #eee;
  }

  .bpp-textfield .add {
    background: transparent;
    border: none;
    top: 0;
    right: 0;
  }

  .bpp-properties-header>.label {
    color:#212121;
  }

  .designBorder:hover
  {
    border:solid 1px red;
  }
